

html{
  scroll-behavior: smooth;
  
}


.navbar-brand{ 
  font-family: 'Josefin Sans';
  text-align: center;

}
.nomNav{
  font-size: 20px;
}
.navbar-nav{
  font-size:  20px;
  font-family: 'Roboto';
  align-items: center;
  margin-left: 70px;
  
 
  



 }




main{
  width: 100%;
  text-align: center;
  background-color: #FFFFFF;
  color: #292744;
  font-family: 'Roboto';
  font-size: 20px;
  height: 70%;
 

}
 
.contactoDentro{
  text-align: left;
  font-size: 23px;
}
.link{
  font-weight: bold;
}



.turnos{
  font-size: 34px;
  font-weight: bold;
 
}


.iframeMapas{
  width: 100%;
  height: 450px;
  border: 0;
}
.carousel{
  width: 100%;
  
}

.titulosenNegrita{
  font-weight: bold;
}

.titulo{
  font-family: 'Josefin Sans';
  font-size: 25px;
  font-weight: bold;
}


.container{
  
  text-align: left;
}

.rounded{
  border: 0,5em solid transparent;
  width: 20%;
}
.nomEx{
  font-size: 'Roboto';
  font-weight: bold;
}
footer{
  width: 100%;
  text-align: center;
  position: absolute;
  background-color:  #1D1D24;
  color: #505053;
  font-family: 'Josefin Sans';
  font-size: 22px;
  height: 13%;


}
 .afip{
  width: 60px;
  height: 100%;
  text-align: center;
 }







/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .navbar-nav{
    margin-left: 0px;}

    main{
       margin-top: 50px;

    }
     .seccion1{
      margin-top: 30px;
    }
    .seccion2{
      margin-top: 30px;
    }
    .seccion3{
       margin-top: 30px;
    }
    .seccion4{
       margin-top: 30px;
    }
    .seccion5{
       margin-top: 30px;
    }
 

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-nav{
    margin-left: 0px;}

     main{
       margin-top: 50px;

    }

    .seccion1{
      margin-top: 30px;
    }
    .seccion2{
      margin-top: 30px;
    }
    .seccion3{
       margin-top: 30px;
    }
    .seccion4{
       margin-top: 30px;
    }
    .seccion5{
       margin-top: 30px;
    }
 


 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
  .navbar-nav{
    margin-left: 0px;}

     main{
       margin-top: 50px;

    }
     .seccion1{
      margin-top: 30px;
    }
    .seccion2{
      margin-top: 30px;
    }
    .seccion3{
       margin-top: 30px;
    }
    .seccion4{
       margin-top: 30px;
    }
    .seccion5{
       margin-top: 30px;
    }
 
 
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}

